////////////////////////////////////////////
// Header Containers
////////////////////////////////////////////

.header-container {
    height: 169px;
    .header-top{
        height: 40px;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #ddd;
        .top-container{
            width: 1200px;
            padding: 8px 20px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            justify-content: flex-end;
            font-family: 'noto sans';
        }
    }
    .header-bottom {
        height: 129px;
        .bottom-container {
            height: 100%;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            .menu-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 775px;
                margin-left: 39px;
                div{
                    padding-top: 50px;
                    font-family: 'noto sans';
                    color: #2f2583;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    cursor: pointer;
                }
                .roofing {
                    margin-left: 50px;
                }
            }
        }
    }
}

////////////////////////////////////////////
// Main Page Containers
////////////////////////////////////////////

.carousel-container {
    width: 100%;
    height: 530px;
    margin-bottom: 100px;
    background-color: #2f2583;
    .carousel-background {
        width: 1200px;
        height: 530px;
        position: relative;
    }
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1183px;
    height: 445px;
    margin: 20px auto 0;
    .card-container {
        display: flex;
        flex-direction: column;
        width: 347.656px;
        height: 445px;
    }
}

.about-container {
    color: #fff;
    width: 100%;
    min-height: 460px;
    background: #2f2583;
    position: relative;
    display: flex;
    flex-direction: row;
    .about-us-container {
        width: 585px;
        margin: 40px 0 0 350px;
        z-index: 2;
        font-size: 14px;
        letter-spacing: .5px;
        line-height: 24px;
        .about-title {
            font-size:30px;
            font-weight:700;
            letter-spacing:0.5px;
            line-height:24px;
            margin-bottom: 8px;
        }
        .about-bold {
            font-size:14px;
            font-weight:700;
            height:auto;
            letter-spacing:0.5px;
            line-height:24px;
            margin-bottom: 12px;
        }
        .about-paragraph {
            margin-bottom: 20px;
        }
    }
}

////////////////////////////////////////////
// Contact Page Containers
////////////////////////////////////////////


.form-container {
    width: 1200px;
    padding: 0 15px;
    margin: 38px auto 0;
    .card-title {
        margin-bottom: 38px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    height: 111px;
    .input-container:first-child {
        margin-right: 40px;
    }
}

.input-container {
    width: 100%;
    margin-bottom: 10px;
    .input {
        margin-top: 10px;
        width: 546.5px;
        height: 28px;
        padding: 8px 16px;
    }
}
.message-container {
    width: 100%;
    .input {
        width: 100%;
        height: 88px;
        padding: 5px 0;
    }
}
.submit-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    .status {
        color: red;
        margin-left: 20px;
        padding: 14px 0;
    }
    .green {
        color: green;
    }
}
.name .telephone {
    margin-right: 10px;
}

