////////////////////////////////////////////
// Header Base Properties
////////////////////////////////////////////
.telephone, .email {
    a {
        text-decoration: none;
        color: #222f3e;
        font-weight: 700;
        word-spacing: 1px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.telephone {
    margin-right: 50px;
}
.email {
    margin-right: 9px;
}

////////////////////////////////////////////
// Main Page Base Properties
////////////////////////////////////////////



////////////////////////////////////////////
// About Page Base Properties
////////////////////////////////////////////

